.root {
    -fx-font-family: "Comic Sans MS";
}

#menu {
    -fx-background-color: radial-gradient(radius 180%, #1e323a, #363841);
}

.game-menu-item {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 1.5em; /* 12 */
    -fx-text-fill: #e3faff;
    -fx-background-radius: 7px;
}

.game-menu-item:hover {
    -fx-background-color: #7aa456;
}

.game-menu-item:pressed {
    -fx-background-color: #35a421;
}

#header-pane {
    -fx-background-color: radial-gradient(radius 180%, #1e323a, #363841);
}

#content-pane {
    -fx-background-color: radial-gradient(radius 180%, #2c7880, #c2fff5);
}

#loading-indicator {
    -fx-progress-color: #aaff03;
}

#currentPlayerNicknameLabel {
    -fx-alignment: CENTER;
    -fx-font-size: 24px;
    -fx-text-fill: #8896ff;
}

#logoutButton {
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
}
