.idea/
target/
*.iml

*pom.xml.versionsBackup

jouska-ci/build/windows/installer/Output
jouska-ci/build/windows/installer/jouska-installer.iss

jouska-client/src/main/java/com/github/tix320/jouska/client/app/Version.java
jouska-bot/src/main/java/com/github/tix320/jouska/bot/Version.java

client-app/
