#mainPane {
    -fx-background-image: url('../../images/game-background.png');
    -fx-font-family: "Comic Sans MS";
}

.separator {
    -fx-background-color: #728d95;
}

#statisticsBoard {

}

#rightPane {
    -fx-border-width: 2px;
    -fx-border-color: #948fff;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

#leaveButton {
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient(#e96e6e, #ef3434 80%) no-repeat;
}

#leaveButton:hover  {
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient(#ef3434, #e96e6e 80%) no-repeat;
}

#fullScreenButton {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10px;
}

#fullScreenButton:hover {
    -fx-background-color: #82be3c;
}

#fullScreenButton:pressed {
    -fx-background-color: #ffc023;
}
