.root {
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: #faf7f4;
}

.separator {
    -fx-background-color: #728d95;
}

#statisticsBoard {
    -fx-border-width: 2px;
    -fx-border-color: #948fff;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

#fullScreenButton {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
}

#fullScreenButton:hover {
    -fx-background-color: #82be3c;
}

#fullScreenButton:pressed {
    -fx-background-color: #ffc023;
}
