.root * {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}

#gameItem {
    -fx-background-color: #82be3c;
    -fx-background-radius: 25px;
    -fx-pref-height: 200;
    -fx-pref-width: 200;
    -fx-start-margin: 10px;
}

.vbox {
    -fx-spacing: 10px;
}

.hbox {
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;
    -fx-spacing: 5px;
    -fx-alignment: CENTER;
}

#joinButton {
    -fx-background-color: #0288e9;
    -fx-background-radius: 25px;
}

#joinButton:hover {
    -fx-background-color: #ace9c0;
}

#joinButton:pressed {
    -fx-background-color: #0288e9;
}
