.root * {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}
.game-item {
    -fx-background-color: #82be3c;
    -fx-background-radius: 25px;
    -fx-pref-height: 200;
    -fx-pref-width: 200;
    -fx-start-margin: 10px;
}

.game-item:hover {
    -fx-background-color: #ffc023;
}

.game-item:pressed {
    -fx-background-color: #ff860b;
}

.game-item .game-name {
    -fx-pref-width: 300px;
    -fx-pref-height: 30px;
    -fx-text-fill: RED;
}

.game-item .vbox {
    -fx-spacing: 10px;
}

.game-item .hbox {
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;
    -fx-spacing: 5px;
    -fx-alignment: CENTER;
}
