.root * {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}

#gameItem {
    -fx-background-color: #169abe;
    -fx-background-radius: 25px;
    -fx-pref-height: 200;
    -fx-pref-width: 200;
    -fx-start-margin: 10px;
}

.vbox {
    -fx-spacing: 10px;
}

.hbox {
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;
    -fx-spacing: 5px;
    -fx-alignment: CENTER;
}

.button {
    -fx-background-radius: 10px;
}

#joinButton {
    -fx-background-color: #18e91d;
}

#joinButton:hover {
    -fx-background-color: #ace9c0;
}

#joinButton:pressed {
    -fx-background-color: #18e91d;
}

#watchButton {
    -fx-background-color: #feff0c;
}

#watchButton:hover {
    -fx-background-color: #f7ffd6;
}

#watchButton:pressed {
    -fx-background-color: #feff0c;
}

#startButton {
    -fx-background-color: #ff6120;
    -fx-pref-width: 100px;
}

#startButton:hover {
    -fx-background-color: #ff803c;
}

#startButton:pressed {
    -fx-background-color: #ff6120;
}
