.root * {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}

#header {
    -fx-background-color: #fdffe0;
}

#games-scroll-pane {
    -fx-focus-color: transparent;
}

#players-scroll-pane {
    -fx-focus-color: transparent;
}

#games-pane {
    -fx-background-color: linear-gradient(#edff9a, #c2fff5 80%) no-repeat;
}

#connected-players-pane{
    -fx-background-color: linear-gradient(#a0ffbd, #c2fff5 80%) no-repeat;
}
